.event-card {
    display: flex;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.event-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.event-details {
    padding: 10px;
}

.event-title {
    color: #28a745;
    /* Green color for the title */
    font-size: 1.5em;
    margin: 0;
}

.event-time {
    font-size: 0.9em;
    color: #555;
}

.event-date-location {
    font-size: 0.8em;
    color: #777;
}

.event-date-location span {
    display: block;
    margin-top: 5px;
}