/* src/components/login.css */

.login-form-container {
  background: rgba(255, 255, 255, 0.8); /* Transparent background */
  padding: 60px 40px;
  border-radius: 10px;
  max-width: 600px; /* Increased width for more space */
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.login-form, .otp-form {
  display: flex;
  flex-direction: column;
}

.login-form h2, .otp-form h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 4px;
}

.login-form label, .otp-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.login-form input, .otp-form input {
  width: 60%; /* Adjusted width for input */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button, .otp-form button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.login-form button:hover, .otp-form button:hover {
  background-color: #218838;
}

.message {
  text-align: center;
  color: green;
  margin-top: 20px;
}
