.logbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  .log-details {
    flex: 1;
    margin-right: 20px;
    color: black;
  }